.AppContainer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BoardContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5em auto;
}

.BoardRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.BoardSquare {
  display: flex;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 1.25em;
  font-weight: 800;
  color: #3fa8c0;
  height: 4em;
  width: 4em;
  border-radius: 1em;
  margin: 0.15em;
  padding: 0.15em;
}

.BoardSquare:hover {
  cursor: pointer;
  opacity: 0.85;
}
